# Managed by Ansible - ultimate-bbs-box (common role)
Port {{ ssh_port }}
PasswordAuthentication no
KbdInteractiveAuthentication no
PubkeyAuthentication yes
X11Forwarding no
AllowTcpForwarding no
MaxAuthTries 3
